language: objective-c
os: osx
osx_image: xcode8.3
before_install:
  - rvm use 2.2.5
install:
  - gem install fastlane --no-rdoc --no-ri --no-document --quiet
env:
  matrix:
    - JOB=macOS
matrix:
  include:
    - script: fastlane ios ci
      env: JOB=iOS
    - language: generic
      os: linux
      dist: trusty
      sudo: required
      env: JOB=Linux
      install:
        - eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
      script:
        - swift test
script:
  - fastlane mac ci
notifications:
  email: false
