language: generic
os: osx
osx_image: xcode8.1
install:
  - gem install fastlane --no-rdoc --no-ri --no-document --quiet
  - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
  - gem install jazzy --no-rdoc --no-ri --no-document --quiet
  - gem install semantic --no-rdoc --no-ri --no-document --quiet
env:
  matrix:
    - JOB=macOS
matrix:
  include:
    - script: fastlane ios ci
      env: JOB=iOS
    - os: linux
      dist: trusty
      sudo: required
      env: JOB=Linux
      install:
        - eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
      script:
        - swift test
script:
  - fastlane mac ci
after_failure:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    cat ~/Library/Logs/DiagnosticReports/xctest_*.crash;
    cat ~/Library/Logs/scan/*;
  fi
notifications:
  email: false
