language: objective-c
osx_image: xcode6.4
install:
- gem install xcpretty --no-rdoc --no-ri --no-document
- curl -OlL "https://github.com/Carthage/Carthage/releases/download/0.9.3/Carthage.pkg"
- sudo installer -pkg "Carthage.pkg" -target /
- rm "Carthage.pkg"
script:
- set -o pipefail && xcodebuild -scheme 'Deferred' test | xcpretty -c
- set -o pipefail && xcodebuild -scheme 'MobileDeferred' -sdk iphonesimulator test | xcpretty -c
- carthage build --no-skip-current
env:
  global:
    secure: g2WT2YGdHUZgqnY6zlK2kf9Cg+Qe25o8F0pY4hPTCsAx7gYpImhlj8ivD2AWAfxRIQSLrVb56DDxQ76+DBWQ29fFlPGaoec60jp5XQ8GaPnWR7np2ctuLsBqe0BQJwYoA3OWYvItoLgwwBwDDAs/p/KYvteOrVSE3TxLL83BtFE=
notifications:
  slack:
    secure: DGHh73fkuJ/61KdOzqzKAtlSPG8/nO0h949Nl3MIIg8tXG8Ujagb2nxRsl7Xsu49K+s54ENFpoZEdB63whOC4KMgFqRtnjiJVc2gP380oNh2BrSt0qRcZDIy6nhgbQOzOtvV4tbgh/pCMbflj70Ad0EBSkdNGuMn2bcj/vGl+gY=
