language: generic
os: osx
osx_image: xcode8
before_install:
- rvm use $(< .ruby-version) --install --binary --fuzzy
install:
- gem install bundler
- bundle install --jobs=3 --retry=3
cache: bundler
env:
  global:
  - NSUnbufferedIO=YES
  matrix:
  - JOB=Test-macOS ACTION=test
matrix:
  include:
  - env: JOB=Test-iOS DEVICE='iPhone 6s (10.0)' PLATFORM='iOS Simulator' ACTION=test
  - env: JOB=Build-tvOS DESTINATION='platform=tvOS Simulator,name=Apple TV 1080p' ACTION=build
  - env: JOB=Build-watchOS DESTINATION='platform=watchOS Simulator,name=Apple Watch - 42mm' ACTION=build
  - os: linux
    dist: trusty
    sudo: required
    env: JOB=Test-Linux
    install:
    - eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
    script:
    - swift test
  - env: JOB=Misc
    script:
    - bundle exec pod lib lint --quick
before_script:
- set -o pipefail
- if [[ $DEVICE && $PLATFORM ]]; then
    export DESTINATION_UUID=`instruments -s devices | grep "$DEVICE" | awk -F '[ ]' '{print $4}' | awk -F '[\[]' '{print $2}' | sed 's/.$//'`;
    export DESTINATION="platform=$PLATFORM,id=$DESTINATION_UUID";
    open -b com.apple.iphonesimulator --args -CurrentDeviceUDID $DESTINATION_UUID;
  fi
script:
- if [[ $DESTINATION ]]; then
    xcodebuild $ACTION -scheme Deferred -destination "$DESTINATION" | xcpretty -c;
  else
    swift test;
  fi
after_success:
- if [[ "$JOB" == "Misc" ]]; then
    ./Configurations/publish_docs.sh;
  else
    sleep 5;
  fi
after_failure:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    cat ~/Library/Developer/Xcode/DerivedData/Deferred-*/Logs/Test/*/Session-DeferredTests-*.log;
  fi
notifications:
  email: false
