<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>523E00A0199915C600E07C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523E00AB199915C600E07C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B9AF1819C35F110039E5D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B9AF2219C35F110039E5D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
