// Architectures
SUPPORTED_PLATFORMS                    = macosx iphonesimulator iphoneos watchos watchsimulator appletvos appletvsimulator
VALID_ARCHS[sdk=macosx*]               = i386 x86_64
VALID_ARCHS[sdk=iphoneos*]             = arm64 armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*]      = i386 x86_64
VALID_ARCHS[sdk=watchos*]              = armv7k
VALID_ARCHS[sdk=watchsimulator*]       = i386
VALID_ARCHS[sdk=appletvos*]            = arm64
VALID_ARCHS[sdk=appletvsimulator*]     = x86_64

// Deployment
COPY_PHASE_STRIP = NO
MACOSX_DEPLOYMENT_TARGET = 10.10
IPHONEOS_DEPLOYMENT_TARGET = 8.0
WATCHOS_DEPLOYMENT_TARGET = 2.0
TVOS_DEPLOYMENT_TARGET = 9.0

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO

// Versioning
CURRENT_PROJECT_VERSION = 2.2.0
VERSION_INFO_PREFIX =
VERSIONING_SYSTEM = apple-generic

// C Compiler - Language
GCC_C_LANGUAGE_STANDARD = gnu11

// C Compiler - Language - Modules
CLANG_ENABLE_MODULES = YES

// C Compiler - Language - Objective-C
CLANG_ENABLE_OBJC_ARC = YES

// C Compiler - Preprocessing
ENABLE_STRICT_OBJC_MSGSEND = YES

// C Compiler - Warnings - All Languages
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN_SUSPICIOUS_MOVES = YES

// C Compiler - Warnings - Objective-C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

// Static Analyzer - Generic Issues
CLANG_ANALYZER_NONNULL = YES

// Swift Compiler - Version
SWIFT_VERSION = 3.0
