// Architectures
VALID_ARCHS[sdk=macosx*] = i386 x86_64
VALID_ARCHS[sdk=iphoneos*] = arm64 armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*] = i386 x86_64
VALID_ARCHS[sdk=watchos*] = armv7k
VALID_ARCHS[sdk=watchsimulator*] = i386
VALID_ARCHS[sdk=appletvos*] = arm64
VALID_ARCHS[sdk=appletvsimulator*] = x86_64

// Build Options
TOOLCHAINS = default

// Deployment
COPY_PHASE_STRIP = NO
MACOSX_DEPLOYMENT_TARGET = 10.10
IPHONEOS_DEPLOYMENT_TARGET = 8.0
WATCHOS_DEPLOYMENT_TARGET = 2.0
TVOS_DEPLOYMENT_TARGET = 9.0

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO

// Signing
CODE_SIGN_IDENTITY =
DEVELOPMENT_TEAM =

// Versioning
CURRENT_PROJECT_VERSION = 3.3.2
VERSION_INFO_PREFIX =
VERSIONING_SYSTEM = apple-generic

// C Compiler - Code Generation
GCC_NO_COMMON_BLOCKS = YES

// C Compiler - Language
GCC_C_LANGUAGE_STANDARD = gnu11

// C Compiler - Language - Modules
CLANG_ENABLE_MODULES = YES

// C Compiler - Language - Objective-C
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES

// C Compiler - Preprocessing
ENABLE_STRICT_OBJC_MSGSEND = YES

// C Compiler - Warnings - All Languages
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES

// C Compiler - Warnings - Objective-C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES

// C Compiler - Warnings - Objective-C and ARC
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

// Static Analyzer - Generic Issues
CLANG_ANALYZER_NONNULL = YES

// Swift Compiler - Version
SWIFT_VERSION = 3.0
