#include "Base.xcconfig"

// Build Options
APPLICATION_EXTENSION_API_ONLY = YES

// Deployment
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
SKIP_INSTALL = YES
COMBINE_HIDPI_IMAGES[sdk=macosx*] = YES

// Linking
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = '@executable_path/Frameworks' '@loader_path/Frameworks'
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = '@executable_path/../Frameworks' '@loader_path/Frameworks'

// Packaging
INFOPLIST_FILE = Sources/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.bignerdranch.$(TARGET_NAME)
PRODUCT_NAME = Deferred

// Swift Compiler - General
SWIFT_INSTALL_OBJC_HEADER = NO

// Swift Compiler - Search Paths
SWIFT_INCLUDE_PATHS = Sources/CAtomics/include
